script
  window.key = '#{data.key}';

// Scripts
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js")
script(src="https://raw.github.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js")
script(src="/js/buzz.js")
script(src="/js/Markdown.Converter.js")
script(src="/js/script.js")

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28350469-1']);
  _gaq.push(['_setDomainName', 'solitarydesigns.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();