meta(name="title", content="Inkpen: Distraction Free Writing")
meta(name="description", content="We created this small application for you, if you like to write without distractions.")

link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/css/typography.css")

script
  if (location.hostname === "localhost") { document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=2"></' + 'script>') }

