@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Scrollbars */
::-webkit-scrollbar {
	width:6px;
}

::-webkit-scrollbar-track{
	background:none
}

::-webkit-scrollbar-thumb{
	background: #333;
	border-radius: 50px;
	border-right:5px solid transparent
}

#about::-webkit-scrollbar-thumb{background: transparent; transition: all 0.3s ease;}
#about:hover::-webkit-scrollbar-thumb{background: #333;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	font: normal 12px/18px Menlo, Consolas, "Courier New", monospace;
}

body.dark {
	background: #151515;
	color: #aaa;
}

body.light {
	background: #fff;
	color: #333;
}

body {
	transition: all .3s ease;
}

/*
Settings
--------
*/

.settings {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 45px;
	transition: all 0.3s ease;
}

.settings a{
	color: #bbb;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	padding: 8px 12px;
	transition: all 0.3s ease;
}

.dark .settings a {color: #555;}

.settings a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.dark .settings a:hover {
	background-color: rgba(0, 0, 0, 0.5);
}


/*
Write Area
----------
*/

#write {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#text {
	height: 100%;
	width: 100%;
	padding: 100px 100px;
	background: transparent;
	font: normal 18px/25px Menlo, Consolas, "Courier New", monospace;
	border: 0;
	outline: 0;
	color: inherit;
	resize: none;
	text-shadow: none;
	transition: padding .3s ease;
}

/*
Notifications
-------
*/

p.notify {
	height: 50px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	background: green;
	z-index: 15;
	line-height: 50px;
	text-align: center;
	transition: all 0.3s ease;
}

p.notify.success {
	background: green;
	color: white;
}

p.notify.failure {
	background: red;
	color: white;
}

p.notify.working {
	color: white;
	background: green;
}

/*
Profile
-------
*/

#profile {
	position: absolute;
	right: 8px; top: 8px;
	transition: all 0.3s ease;
}

#profile img, #profile i {
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	color: #555;
	font-size: 20px;
	border-radius: 3px;
	background: #252525;
	text-decoration: none;
	margin-left: 8px;
	transition: all 0.3s ease;
}

#profile a {
	text-decoration: none;
	outline: none;
}

.light #profile img, .light #profile i {
	background: #bbb;
	color: #777;
}


/* 
Repos
-----
*/

#repos {
	width: 400px;
	height: 100%;
	background: #0e0e0e;
	position: absolute;
	right: -400px;
	top: 0;
	transition: all .3s ease;

	box-shadow: inset -2px 0 20px rgba(0, 0, 0, 1);
	overflow: auto;

	padding: 25px 25px 25px 75px;
	text-shadow : 0 1px 1px black;
}


/*
Preview
-------
*/

#preview {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;	
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 50px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	transition: all 0.3s ease;
}

body.view #preview {
	width: 100%;
	height: 100%;
	padding: 50px;
	background: #fff;
	opacity: 1;
	visibility: visible;
	z-index: 10;
	position: relative;
}

#preview .post {
	width: 700px;
	margin: 0 auto;
	position: relative;
}

#preview .post img {
	max-width: 100%;
	display: block;
	margin: 10px auto;
}

#preview .post_info {
	opacity: 0;
	position: absolute;
	top: 13px;
	left: -70px;
}

#preview .post_info .author {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#logoView {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 20;
	text-decoration: none;
	font: 900 40px Aleo;
	color: #fff;
	background: #ddd;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s ease;
}

#logoView:hover {
	color: #ddd;
	background: #333;
}


/*
About
-----
*/

#about a.more {
	display: block;
	padding: 5px 0;
}

#about {
	width: 400px;
	height: 100%;
	background: #0e0e0e;
	position: absolute;
	left: -400px;
	top: 0;
	transition: all .3s ease;

	box-shadow: inset -2px 0 20px rgba(0, 0, 0, 1);
	overflow: auto;

	padding: 25px 25px 25px 75px;
	text-shadow : 0 1px 1px black;
}

.logo {
	width: 124px;
	height: 35px;
	background: url(../img/logo.png) no-repeat;
	margin: 40px auto;
}

#about h3 {
	font: normal 12px/30px "Open Sans" !important;
	color: #68934c;
	text-transform: uppercase;
	margin: 10px 0px;
	border-bottom: 1px dashed #222;
}

#about p {
	color: #555;
	margin: 10px 0px 25px;
}

#about a {
	color: #999;
	text-decoration: none;
}

#about ul.writes {
	list-style: none;
}

#about ul.writes li {
	color: #555;
	position: relative;
}

#about ul.writes li a{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 170px;
}

#about ul.writes li .time {
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
	padding: 0;
}

/*
Toggle
------
*/

#toggle {display: none;}
#toggle:checked ~ .toggle{
	left: 350px;
	background: #000;
}

.toggle:hover {	background: #000; }
.light .toggle:hover {	background-color: rgba(0, 0, 0, 0.1); }

#toggle:checked ~ #about{ left: -50px; }
#toggle:checked ~ #write > #text{ padding-left: 400px; }
#toggle:checked ~ .settings {left: 400px;}

.toggle {
	position: absolute;
	left: 0px;
	top: 0;
	width: 40px;
	height: 36px;
	z-index: 5;
	cursor: pointer;
	transition: all .3s ease;
}

.toggle:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 3px;
	background: #555;
	bottom: 10px;
	left: 7px;
	box-shadow: 0 -6px #555, 0 -12px #555;
}

.light .toggle:before {
	background: #bbb;
	box-shadow: 0 -6px #bbb, 0 -12px #bbb;
}