!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark.view

    div#preview
      .post!= data.content
        if data.created_by != "guest"
          .post_info
            a(href="http://twitter.com/#{data.created_by}", target="_blank") 
              .author(style="background-image: url(#{data.profile_image})")

    include includes/foot
    script
      $(function() {
        $(".post_info").animate({
          "opacity": 1
        }, 400);

        $(".post").children().get(0).innerHTML;
      });
