!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark

    div#preview(style="opacity: 1; visibility: visible")
      .post!= data.content

    include includes/foot
