!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark.view

    div#preview
      .post!= data.content
      .post_info
        if data.created_by != "guest"
          .author(style="background-image: url(#{data.profile_image})")

    include includes/foot
    script
      $(function() {
        var leftPos = $("#preview .post").offset().left;
        var topPos = $("#preview .post h1").offset().top;
        $(".post_info").css({
          "left": leftPos - 80,
          "top": topPos
        });
        
        $(".post_info").animate({
          "opacity": 1
        }, 400);
      });
