!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark.view

    a#logoView(href="/") I

    div#preview
      .post!= data.content
        if data.created_by != "guest"
          .post_info
            a(href="http://twitter.com/#{data.created_by}", target="_blank") 
              .author(style="background-image: url(#{data.profile_image})")

    include includes/foot
    script
      $(function() {
        // Go to edit page
        document.addEventListener('keydown', function(e) {
          if(e.altKey && e.keyCode == 69) {
            location.href = '/edit/' + key;
            e.preventDefault();
          }
        }, false);

        $(".post_info").animate({
          "opacity": 1
        }, 400);

        $(".post").children().get(0).innerHTML;
      });