!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark

    div#preview(style="opacity: 0; visibility: visible")
      .post= data.content

    include includes/foot
    script
      $(".post").each(function() {
        var text = $(this).html();
        $(this).html(converter.makeHtml(text));

        $("#preview").animate({"opacity": 1}, 300);
      });