!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark.view

    div#preview
      .post!= data.content

    include includes/foot
